node_modules
**/node_modules
**/lib
**/package.json
!/package.json
jupyterlab_workshop
eslint.config.mjs
.venv
scratch
tests/ui-tests/test-results
tests/ui-tests/playwright-report
site
lite-site
docs/_build
docs/reference
